body{
  background: white;
  padding: 20px;
  font-family: Verdana, sans-serif;
  background-color: aliceblue;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top:100px;
  
}
.conatiner{
  width: 350px;
  background-color: white;
  padding: 30px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 14px lightgray;

}
img{
  width: 300px;
  display: block;
 
}
button{
  background-color: pink;
  padding: 10px 20px;  
  border:1px solid white;
  font-size: 20px;
  width: 200px;
  border-radius: 20px;
  cursor: pointer;
}
#error{
  font-weight: 400;
  color: pink;
}