@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');
*{
  box-sizing: border-box;
 
}

body{
  margin: 0;
  padding: 0;
  background-image: url(toa-heftiba-3xUnaShh5SQ-unsplash.jpg);
 color: #333;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 

  height: 100vh;
  font-family: 'Montserrat', Tahoma, Verdana, sans-serif;
}


h1{
  font-size: 4rem;
  margin-top:35rem;
  align-items: center;
  text-align: center;
}

.coundown-container{
display: flex;
flex-wrap: wrap;
justify-content: center;




}
.big-text{
 font-weight: 600;
  font-size: 4rem;
  line-height: 1;
  margin: 0 2rem;
}
.elem {
  text-align: center;

}
.elem span{
  font-size: 1rem;
  font-size: 300;
  
}
#end{
 position: absolute;
 font-size: 3rem;
 bottom:5rem;

}


@media only screen and (max-width: 750px) {
  h1{
    font-size: 3.5rem; 
    margin-top:30rem;
    text-align: center;
  }
  .big-text{
    font-weight: 600;
     font-size: 3rem;
     line-height: 1;
     margin: 0 2rem;
   }
   

  }